<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

	<!-- @author Bojan Aleksic -->

	<!-- User Account fragment -->
	<div class="container" th:fragment="user-account">
		
        <ul class="nav nav-tabs">
            <li class="active"><a th:text="#{tab.my.lingua}" data-toggle="tab" href="#my-lingua">My Lingua</a></li>
            <li><a th:text="#{tab.practice.lingua}" data-toggle="tab" id="practice-reload" href="#practice-lingua">Practice Lingua</a></li>
        </ul>
        <div class="lingua-container-body">
            <div class="tab-content">
            	<div id="my-lingua" class="tab-pane fade in active">

					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-header">
								<button style="float: left; margin-left: 10px; background-color: #efefef" type="button"
									class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
									<span class="icon-bar"></span> 
									<span class="icon-bar"></span> 
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse" id="myNavbar">
								<ul class="nav navbar-nav">
									<li class="li li-tickets active" id="ticket-all">
										<a href="#"> 
											<span class="glyphicon glyphicon-list btn-glyphicons" aria-hidden="true"></span> 
											<span th:text="#{tab.all}" class="tab-btn-group">All</span>
										</a>
									</li>
									<li class="li li-tickets" id="ticket-active">
										<a id="ticket-active" href="#"> 
											<span class="glyphicon glyphicon-ok-sign btn-glyphicons" aria-hidden="true"></span> 
											<span th:text="#{tab.active}" class="tab-btn-group">Active</span>
										</a>
									</li>
									<li class="li li-tickets" id="ticket-deleted">
										<a href="#">
											<span class="glyphicon glyphicon-trash btn-glyphicons" aria-hidden="true"></span> 
											<span th:text="#{tab.deleted}" class="tab-btn-group">Deleted</span>
										</a>
									</li>
									<li class="li li-tickets" id="ticket-moderated">
										<a href="#"> 
											<span class="glyphicon glyphicon-pencil btn-glyphicons" aria-hidden="true"></span> 
											<span th:text="#{tab.moderated}" class="tab-btn-group">Moderated</span>
										</a>
									</li>
									<li th:if="${session.loggedUser.isAddingBan()}">
										<a href="#" onclick="showNotificationAddNewBan()"> 
											<span class="glyphicon glyphicon-plus-sign btn-glyphicons" aria-hidden="true"></span> 
											<span th:text="#{tab.add.new.lingua}" class="tab-btn-group">Add new Lingua</span>
										</a>
									</li>
									<li th:unless="${session.loggedUser.isAddingBan()}">
										<a href="#" data-toggle="modal" data-target="#gridSystemModal" id="addnewlingua"> 
											<span class="glyphicon glyphicon-plus-sign btn-glyphicons" aria-hidden="true"></span> 
											<span th:text="#{tab.add.new.lingua}" class="tab-btn-group">Add new Lingua</span>
										</a>
									</li>
								</ul>
								<ul class="nav navbar-nav navbar-right">
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#"> 
											<span class="glyphicon glyphicon-flag btn-glyphicons" aria-hidden="true"></span> 
											<span th:if="${session.foreignLanguage eq null}"
												th:text="#{tab.choose.language}"
												class="tab-btn-group select-practice-lang">Select Language
											</span> 
											<span th:if="${session.foreignLanguage ne null}"
												th:text="#{language. + ${session.foreignLanguage}}"
												class="tab-btn-group select-practice-lang">
											</span> 
											<span class="caret"></span>
										</a>
										<ul class="dropdown-menu lingua-language select-language" onclick="showNotificationTicketsLanguageChange()">
											<li th:each="language : ${session.languages}">
												<a id="selected-lang" href="#" th:text="#{language. + ${language}}">Language</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</nav>
	    			
	    			<!-- Include Modal from fragments -->
	    			<div th:replace="fragments/add-lingua-modal :: modal-create"></div>
	    			<div th:replace="fragments/edit-lingua-modal :: modal-edit"></div>
	    			<div th:replace="fragments/delete-ticket-modal :: modal-delete"></div>
	    			
                    <div class="tickets-content">
                    
                    	<!-- Here goes Tickets content loaded with AJAX -->
                    	
                    </div>
                </div>
                <!--**** Practice Lingua Section ****-->
                <div id="practice-lingua" class="tab-pane fade">
                    
                    <!-- Practice Lingua fragment -->
                    <div th:replace="fragments/practice-lingua :: practice-lingua" id="practice-lingua-frag"></div>
                    
                </div>
            </div>
            
            <!-- Include modal from fragments for "practice over" - message, during the practice lingua -->
            <div th:replace="fragments/practice-over-modal :: practice-over-modal"></div>
            
            <!-- Include modal from fragments for "leave practice" - message, during the practice lingua -->
            <div th:replace="fragments/leave-practice-modal :: leave-practice-modal"></div>
            
        </div>
        
        <!-- Import JavaScript for loading tickets and some basic functions -->
        <script type="text/javascript" th:src="@{/js/showTickets.js}"></script>
        
        <!-- Import JavaScript for changing learning language -->
<!--         <script type="text/javascript" th:src="@{/js/changeLanguage.js}"></script> -->
        
        <!-- Import JavaScript for selecting ticket-category -->
        <script type="text/javascript" th:src="@{/js/selectCategory.js}"></script>
        
        <!-- Script for practice lingua -->
        <script type="text/javascript" th:src="@{/js/practiceLingua.js}"></script>
        
        <!-- Import JavaScript for overview and flipcard page -->
        <script type="text/javascript" th:src="@{/js/practiceOverviewFlipcard.js}"></script>
        
        <!-- Import JavaScript for reseting practice Stack List -->
        <script type="text/javascript" th:src="@{/js/resetStack.js}"></script>
        
        <!-- Script for flip card practice-->
		<script type="text/javascript" th:src="@{/js/flipcard.js}"></script>
		
    </div>
    
    <!-- Administrator Account fragment -->
	<div class="container" th:fragment="admin-account">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#moderate-users" th:text="#{tab.moderate.users}">Moderate Users</a></li>
            <li><a data-toggle="tab" href="#moderate-lingua" id="moderage-lingua-tab" th:text="#{tab.moderate.lingua}">Moderate Lingua</a></li>
            <li><a data-toggle="tab" href="#reports" th:text="#{tab.reports}">Reports</a></li>
            <li><a data-toggle="tab" id="register-admin" href="#register-new-admin" th:text="#{tab.register.new.admin}">Register new Admin</a></li>
        </ul>
        <div class="lingua-container-body">
            <div class="tab-content">
            	<div id="moderate-users" class="tab-pane fade in active">
            		<!-- Include Admin's Moderate Users - page -->
            		<div th:replace="fragments/moderate-users :: moderate-users">...</div>
                </div>
                <div id="moderate-lingua" class="tab-pane fade">
                    <!-- Include Admin's Moderate Tickets - page -->
            		<div th:replace="fragments/moderate-tickets :: moderate-tickets">...</div>
            		<!-- Import JavaScript for loading tickets -->
     				<script type="text/javascript" th:src="@{/js/load-ticket-admin.js}"></script>                    
                </div>
                <div id="reports" class="tab-pane fade">
                	<!-- Include Admin Reports - page -->
                    <div th:replace="fragments/reports :: reports">...</div>
                    <!-- Import JavaScript for ban-reports -->
                    <script type="text/javascript" th:src="@{/js/report-bans.js}"></script>  
                </div>
                <div id="register-new-admin" class="tab-pane fade">
                	<!-- Load Register Admin - page -->
                    <div id="register-admin-frag">...</div>
                    <script type="text/javascript">
                    	$("#register-admin").click(function() {
                        	$("#register-admin-frag").load("fragments/register-new-admin.html #register-admin");
                        });
                    </script>
                </div>
            </div>
            
            <!-- Include modal from fragments for "ban confirmation" -->
            <div th:replace="fragments/ban-confirmation-modal :: ban-confirmation-modal"></div>
            
        </div>
    </div>
</body>
</html>