<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<body>
	<div th:fragment="banUser">
		<script type="text/javascript" th:inline="javascript">
			 /*<![CDATA[*/
			 /** 
			 * @author Goran Arsenic
			 */
			
			 var userId = null;
			 var icon = "glyphicon glyphicon-warning-sign";
			 var message = "";
			 
			
			/* ban add new entry*/
			function banAddNew(newUserId) {
				userId = newUserId;
				$("#ban-add-new-yes" + userId).removeClass("hide");
				newEntryBan(userId);
			}
			/* unban add new entry*/
			function unbanAddNew(newUserId) {
				userId = newUserId;
				$("#ban-add-new-yes" + userId).addClass("hide");
				newEntryBan(userId);
			}
			/* ban login */
			function banLogin(newUserId) {
				userId = newUserId;
				$("#ban-login-yes" + userId).removeClass("hide");
				loginBan(userId);
			}
			/* unban login */
			function unbanLogin(newUserId) {
				userId = newUserId;
				$("#ban-login-yes" + userId).addClass("hide");
				loginBan(userId);
			}
			/* ban vote */
			function banVote(newUserId) {
				userId = newUserId;
				$("#ban-vote-yes" + userId).removeClass("hide");
				voteBan(userId);
			}
			/* unban vote */
			function unbanVote(newUserId) {
				userId = newUserId;
				$("#ban-vote-yes" + userId).addClass("hide");
				voteBan(userId);
			}
			
			function newEntryBan(newUserId) {
				userId = newUserId;
				$.post("new-entry-ban", {
					userId : userId
				})
				.done(function(response) {
					if(response) {
						message = /*[[#{ban.add.new.entry}]]*/ "User is successfully banned - Add new entry";
						showNotification(message, colorRed, icon);
					} else {
						message = /*[[#{unban.add.new.entry}]]*/"User is successfully unbanned - Add new entry";
						showNotification(message, colorGreen, iconOk);
					}
				});
			};
			function loginBan(newUserId) {
				userId = newUserId;
				$.post("login-ban", {
					userId : userId
				})
				.done(function(response) {
					if(!response) { // because enabled is use for ban login, response must be inverted here
						message = /*[[#{ban.login}]]*/"User is successfully banned - Login";
						showNotification(message, colorRed, icon);
					} else {
						message = /*[[#{unban.login}]]*/"User is successfully unbanned - Login";
						showNotification(message, colorGreen, iconOk);
					}
				});
			};
			function voteBan(newUserId) {
				userId = newUserId;
				$.post("vote-ban", {
					userId : userId
				})
				.done(function(response) {
					if(response) {
						message = /*[[#{ban.vote}]]*/"User is successfully banned - Vote";
						showNotification(message, colorRed, icon);
					} else {
						message = /*[[#{unban.vote}]]*/"User is successfully unbanned - Vote";
						showNotification(message, colorGreen, iconOk);
					}
				});
			};
			
			/*]]>*/
		</script>
	</div>
</body>
</html>