<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

	<!-- @author Bojan Aleksic -->

	<!-- Bootstrap's Modal Layout -->
	<div id="ban-confirmation-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true" th:fragment="ban-confirmation-modal">
		<div class="modal-dialog" role="document" style="width: 50%; margin: 0 auto; margin-top: 50px;">
			<div class="modal-content">
			
				<!-- Here will be loaded content from "ban-confirmation-modal-content.html" page -->
				
			</div>
		</div>
	</div>

</body>
</html>