<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

	<!-- @author Bojan Aleksic -->

	<!-- Bootstrap Carousel fragment -->
	<div th:fragment="bootstrap-carousel">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">

				<div class="item active">
					<div class="carousel-background" style="background-color: #64cdd8;">
						<div class="carousel-img">
							<img th:src="@{images/lingua-home-page.png}" />
						</div>
					</div>	
					<div class="carousel-caption">
						<h2 th:text="#{front.page.carousel1.title}">Naučite strani jezik</h2>
						<p th:text="#{frong.page.carousel1.content}">Želite da naučite strani jezik? Na pravom ste mjestu.</p>
					</div>
				</div>

				<div class="item">
					<div class="carousel-background" style="background-color: #f1654c;">
						<div class="carousel-img">
							<img th:src="@{images/lingua-home-page-2.png}" />
						</div>
					</div>	
					<div class="carousel-caption">
						<h2 th:text="#{front.page.carousel2.title}">Besplatno je</h2>
						<p th:text="#{frong.page.carousel2.content}">Lingua je besplatna aplikacija i uvijek će da bude.</p>
					</div>
				</div>

				<div class="item">
					<div class="carousel-background"></div>	
					<div class="carousel-caption">
						<h2 th:text="#{front.page.carousel3.title}">Podjelite svoje znanje</h2>
						<p th:text="#{frong.page.carousel3.content}">Pomozite drugima da nauče strani jezik. Sami stvarajte sadržaj i omogućite i drugima
						da nauče ono što Vi znate.
						</p>
					</div>
				</div>
			</div>

		</div>
		<div id="front-page-text">
			<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h1 th:text="#{front.page.main.text.title}">Learn a language for free</h1>
					<p th:text="#{front.page.main.text.content}">You choose the language. You choose the words. You choose the text. 
					Language learning to match your interests and your life.
					In the real world, everyones language journey is unique. Join the Lingua community of 
					learners and plot your own course. Discover a clever new way to learn, practice and master 
					a language.</p>
				
				</div>
				<div class="col-sm-6">
					<img style="width: 95%" th:src="@{/images/language-bubbles.jpg}" />
				</div>
			</div>
			</div>
			
			<div id="national-flags">
				<div class="container" style="width: 100%;">
					<div class="row"  style="height: 349px; padding-top: 7%;">
						<h1 th:text="#{front.page.11languages}">Learn 11 different languages</h1><br/>
						<img class="flag-image" th:src="@{/images/flags/BosniaHerzegowina.png}" />
						<img class="flag-image" th:src="@{/images/flags/Croatia.png}" />
						<img class="flag-image" th:src="@{/images/flags/France.png}" />
						<img class="flag-image" th:src="@{/images/flags/Germany.png}" />
						<img class="flag-image" th:src="@{/images/flags/Italy.png}" />
						<img class="flag-image" th:src="@{/images/flags/Netherlands.png}" />
						<img class="flag-image" th:src="@{/images/flags/Portugal.png}" />
						<img class="flag-image" th:src="@{/images/flags/Russia.png}" />
						<img class="flag-image" th:src="@{/images/flags/Serbia.png}" />
						<img class="flag-image" th:src="@{/images/flags/Spain.png}" />
						<img class="flag-image" th:src="@{/images/flags/UnitedKingsom.png}" />
					</div>	
				</div>
			</div>
			
			<div id="responsive-design">
				<div class="container" style="width: 100%;">
					<div class="row">
						<div class="col-sm-2">
						</div>
						<div class="col-sm-4" style="padding-top: 5%;">
							<h1 th:text="#{front.page.responsive}">Learn languages on all devices</h1>
						</div>
						<div class="col-sm-4" >
							<img th:src="@{/images/responsive-design.jpg}" />
						</div>
						<div class="col-sm-2">
						</div>
					</div>
				</div>
			</div>
			<div id="start-learning">
				<div >
					<h1>Lingua</h1>
					<a class="btn btn-warning" th:href="@{/registration}"><span th:text="#{front.page.button.start.learning}">Start learning</span></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>