<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

	<!-- @author Bojan Aleksic -->

	<!-- Bootstrap's Modal Layout -->
	<div id="delete-confirm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true" th:fragment="modal-delete">
		<div class="modal-dialog" role="document" style="width: 30%; margin: 0 auto; margin-top: 20px;">
			<div class="modal-content">
				<!-- Here will be loaded content from "delete-ticket-modal-content.html" page -->
			</div>
		</div>
	</div>

</body>
</html>