<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

	<!-- @author Bojan Aleksic -->

	<!-- Bootstrap's Modal Layout -->
	<div id="gridSystemModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true" th:fragment="modal-edit">
		<div class="modal-dialog" role="document" style="width: 80%;">
			<div class="modal-content">
				<!-- Here will be loaded content from "edit-ticket-modal-content.html" page, by TicketController -->
			</div>
		</div>
	</div>

</body>
</html>