<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

	<!-- @author Goran Arsenic -->

	<!-- Flip card practice fragment -->
	<div id="flipcard-practice" th:fragment="flipcard" th:each="ticket : ${tickets}">
		<div class="row" style="position: relative; bottom: 20px;">
			<div class="col-md-6" style="position: relative; bottom: 15px;">
				<h3 style="color: #1898b0;">
					<span class="glyphicon glyphicon-retweet"></span>
					<span>Flipcard</span>
				</h3>
			</div>
			<div class="col-md-6" style="text-align: right;">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="glyphicon glyphicon-flag btn-glyphicons" aria-hidden="true"></span>
					<span th:if="${session.foreignLanguage ne null}" th:text="${session.foreignLanguage}" class="tab-btn-group select-practice-lang"></span> 
				</button>
			</div>
		</div>
		<div class="row domestic-foreign-row-overview">
			<div th:switch="${order}">
				<div th:case="'domestic'">
					<section class="card-container">
						<div class="card">
							<div class="front" th:text="${ticket.textDomestic}"></div>
							<div class="back" th:text="${ticket.textForeign}"></div>
					  	</div>
					</section>
				</div>
				<div th:case="'foreign'">
					<section class="card-container">
						<div class="card">
							<div class="front" th:text="${ticket.textForeign}"></div>
							<div class="back" th:text="${ticket.textDomestic}"></div>
				  		</div>
					</section>
				</div>
			</div>
		</div>
		
		<div class="row row-footer">
			<div class="col-md-4">
				<span class="glyphicon glyphicon-user"></span>
				<span th:text="${ticket.user.firstName} + ' ' + ${ticket.user.lastName} + ' (' + ${ticket.user.username} + ')' ">User</span>
				&nbsp; &bull; &nbsp;
				<span class="glyphicon glyphicon-time"></span>
				<span th:text="${ticket.dateCreated}">Date</span>
			</div>
			<div class="col-md-4" style="text-align: center;">
				<button id="button-flip" type="button" class="btn btn-primary"><span style="padding-right: 8px;" class="glyphicon glyphicon-retweet"></span><span th:text="#{flipcard.button.flip}">FLIP CARD</span></button>
				<button id="button-next" type="button" class="btn btn-primary"><span style="padding-right: 8px;" class="glyphicon glyphicon-expand"></span><span th:text="#{flipcard.button.next}">NEXT</span></button>
			</div>
			<div style="text-align: right;" class="col-md-4">
				<a href="#" id="ticket-vote-up" data-toggle="tooltip" title="Vote up">
					<span class="glyphicon glyphicon-thumbs-up"></span>
				</a>
				<span th:text="${ticket.ticketVotes.likes}" id="likes-value"></span>
				&nbsp;&nbsp;
				<a href="#" id="ticket-vote-down" data-toggle="tooltip" title="Vote down">
					<span class="glyphicon glyphicon-thumbs-down"></span>
				</a>
				<span th:text="${ticket.ticketVotes.dislikes}" id="dislikes-value"></span>
			</div>
			
		</div>
		<input type="hidden" th:value="${stackSize}" id="stack-size" />
		<input type="hidden" th:value="${ticket.id}" id="ticket-id" />
		<!-- Script for flip card practice-->
	    <script type="text/javascript" th:src="@{/js/flipcard.js}"></script>
	    <!-- Import fragment for handling votes (likes/dislikes) that contain JavaScript -->
		<div th:replace="fragments/overviewVote :: overviewVote">...</div>
	    <script>
	    $("#button-next").click(newTicket());
	    	function nextTicket() {
				var stackSize = $("#stack-size").val();
				console.log("next");
				if(stackSize > 0) {
					$("#practice-lingua").load("fragments/flipcard-practice.html", function(response, status, xhr) {
			        	if(status == "error") {
			        		console.log("Error occurred");
			        	} else {
			        		console.log("success");
			        	}
			        });
				} else {
					showNotification('Practice is over','success','glyphicon glyphicon-ok');
				}
	 			$(this).blur();
			};
	    </script>	
	</div>
</body>
</html>