<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	
	<!-- @author Bojan Aleksic -->

	<!-- Tickets fragment -->
	<div class="my-lingua-content" th:fragment="tickets">
		<div th:if="${tickets != null}">
			<div class="ticket-container alert-warning" th:each="ticket : ${tickets}">
				<div class="row ticket-header">
					<div class="col-md-2">
						<span class="glyphicon glyphicon-time"></span>
						<span th:text="${ticket.dateCreated}"></span>
					</div>
					<div class="col-md-2">
						<span class="glyphicon glyphicon-tag"></span>
						<span th:text="${ticket.category}" data-toggle="tooltip" title="Category">Verbs</span>
					</div>
					<div class="col-md-2">
						<a th:href="@{/(id=${ticket.id})}" data-remote="false" class="ticket-edit" data-toggle="modal" data-target="#gridSystemModalEdit">
							<span class="glyphicon glyphicon-pencil"></span>
							<span data-toggle="tooltip" title="Edit">Edit</span>
						</a>
					</div>
					
					<div class="col-md-2">
						<a href="#" class="ticket-delete" id="delete-ticket" data-toggle="modal" data-target="#confirm">
							<span class="glyphicon glyphicon-trash"></span> 
							<span data-toggle="tooltip" title="Delete">Delete</span>
						</a>
					</div>
					<!-- Confirmation Delete Dialog Modal -->
					<form role="form" th:action="@{/delete-ticket}" th:object="${ticket}">
						<div id="confirm" class="modal fade" style="width: 30%; margin: 0 auto; margin-top: 20px;">
							<div th:text="#{confirm.delete.dialog}" class="modal-body">Are you sure?</div>
							<div class="modal-footer">
								<a th:href="@{/delete-ticket(id=${ticket.id})}" type="button" class="btn btn-sm btn-primary" id="delete-confirm">
									<span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
								</a>
								<button type="button" data-dismiss="modal" class="btn btn-sm btn-danger">
									<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;Cancel
								</button>
							</div>
						</div>
					</form> <!-- Confirmation Delete Dialog Modal END -->
					
					<div class="col-md-4 like-dislike-btn">
						<a th:href="@{/add-like(id=${ticket.id})}">
							<span data-toggle="tooltip" title="Likes" class="glyphicon glyphicon-thumbs-up" style="color: green;"></span>
							<span th:text="${ticket.ticketVotes.likes}"></span>
						</a>
						&nbsp; &nbsp;
						<a th:href="@{/add-dislike(id=${ticket.id})}">
							<span data-toggle="tooltip" title="Dislikes" class="glyphicon glyphicon-thumbs-down" style="color: red;"></span>
							<span th:text="${ticket.ticketVotes.dislikes}"></span>
						</a>
					</div>
				</div>
				<div class="row domestic-foreign-row">
					<div th:text="${ticket.textDomestic}" id="domestic-text" class="col-md-6 domestic-foreign-text">Domestic Text</div>
					<div th:text="${ticket.textForeign}" class="col-md-6 domestic-foreign-text">Foreign Text</div>
				</div>
				<script th:inline="javascript">
				/*<![CDATA[*/
				           
					$(document).ready(function() {
						
						/* Set alert-danger style for deleted tickets */
						var urlRequest = $('.btn.active').attr('id');
						if(urlRequest === "ticket-deleted") {
							/* Set deleted tickets to red color */
							$('.ticket-container').addClass('alert-danger').siblings().removeClass('alert-warning');
						}
						
						/* Obtain values from Thymeleaf's model, and assign them to the JS variables */
						var ticketId = Number([[${ticket.id}]]);
						var textDomestic = [[${ticket.textDomestic}]];
						var textForeign = [[${ticket.textForeign}]];
						var category = [[${ticket.category}]];
						
						/* Pass obtained values to the function */
	 					tickets(ticketId, category, textDomestic, textForeign);
						
						/* Bootstrap's tooltip */
						$('[data-toggle="tooltip"]').tooltip();
						
						/* Obtain actual ticket on the click by ticket's ID */
						function tickets(ticketId, category, textDomestic, textForeign) {
							$(".ticket-edit").click(function(event) {
								event.preventDefault();
								var id = $(this).attr("href").split("=");
								if(ticketId == id[1]) {
									$(".domestic #domestic").text(textDomestic);
									$(".foreign #foreign").text(textForeign);
									$(".category").text(category);
									document.getElementById("ticket-id-hidden").value = id[1];
								}
							});
						}
						
						/* Delete ticket */
						$("#delete-confirm").click(function(event) {
// 							event.preventDefault();
							var message = /*[[#{confirm.delete.message}]]*/ 'Ticket deleted!';
				        	var color = 'success';
				        	var icon = 'glyphicon glyphicon-ok';
				        	showNotification(message, color, icon);
						});
						
					});
				           
				/*]]>*/
				</script>
			</div>
		</div>
	</div>

</body>
</html>