<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

	<!-- Header fragment -->
	<div class="jumbotron" style="heigth: 150px;" th:fragment="header">
		<div class="container" style="height: 60px;">
  			<div style="float: left; position: relative;">
  				<a th:href="@{/}"><img th:src="@{/images/book_icon.png}" /></a>
  			</div>
  			<div sec:authorize="isAnonymous()">
  				<div class="login-header">
	  				<form th:action="@{/login-check}" th:object="${user}" class="form-inline">
	  					<div class="form-group">
	  						<input type="text" th:placeholder="#{form.field.username}" class="form-control" />
	  					</div>
	  					<div class="form-group">
	  						<input type="text" th:placeholder="#{form.field.password}" class="form-control" />
	  					</div>
	  					<input type="submit" class="btn btn-info btn-sm" value="Login" style="position: relative; top: 4px;" 
	  				 	th:style="'background-image: url(' + @{images/login-icon.png} + ');'" />
	  				</form>
	  				<a th:href="@{/registration}">
	  					<img th:src="@{/images/register-icon.png}" style="position: relative; bottom: 2px;" />
	  					<small th:text="#{form.not.registered}">Not a member? Register</small>
	  				</a>
  				</div>
  			</div>
  			<div sec:authorize="isAuthenticated()">
  				<div class="logged-user">
  					<div class="dropdown">
  						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    						<img th:src="@{/images/logged-user.png}" />
    						<span style="color: #1898b0; font-size: 14px;" sec:authentication="name">Current Logged User</span>
    						<span class="caret"></span>
  						</button>
  						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    						<li><a th:href="@{/logout}">Logout</a></li>
 						</ul>
					</div>
  				</div>
  				<div class="logged-user">
  			    	<div class="dropdown">
  		            	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  		            		<span style="color: #1898b0; font-size: 14px;" id="chosen-lang">
  		            			
                            </span>
                        	<span class="caret"></span>
  		            	</button>
  		            	<ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="select-lang">
  		            		<li>
  		            			<a th:href="@{/?lang=en}" th:style="'background:url(' + @{/images/eng-flag.png} + ') no-repeat; background-position: 5px 7px;'" id="eng-flag">
  		            				English
  		            			</a>
  		            		</li>
                        	<li>
                        		<a th:href="@{/?lang=sr}" th:style="'background:url(' + @{/images/serbia-flag.png} + ') no-repeat; background-position: 5px 7px;'" id="sr-flag">
                        			Serbian
                        		</a>
                        	</li>
                    	</ul>
					</div>
  		    	</div>
  			</div>
		</div>
	</div>
	
</body>
</html>