<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

	<!-- @author Bojan Aleksic -->

	<!-- Bootstrap's Modal Layout -->
	<div id="leave-practice-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true" th:fragment="leave-practice-modal">
		<div class="modal-dialog" role="document" style="width: 30%; margin: 0 auto; margin-top: 20px;">
			<div class="modal-content">
				<!-- Here will be loaded content from "delete-ticket-modal-content.html" page -->
				<div th:text="#{leave.practice.dialog}" class="modal-body">Are you sure you want to leave practice?</div>
				<div class="modal-footer">
					<a href="practice-lingua" type="button" class="btn btn-sm btn-primary" id="leave-practice-yes">
						<span class="glyphicon glyphicon-ok"></span>&nbsp;
						<span th:text="#{practice.over.yes}">Yes</span>
					</a>
					<button type="button" data-dismiss="modal" class="btn btn-sm btn-danger">
						<span class="glyphicon glyphicon-remove"></span>&nbsp;
						<span th:text="#{practice.over.no}">No</span>
					</button>
				</div>
			</div>
		</div>
		<script>
			/*
			* If user choose to leave practice (depending on where does he click, logo or back button)
			* redirect him to "Practice Lingua" page or home page accordingly.
			* Note: Further implementation of this 
			* is to be found in "showTickets.js" file.
			*/
			$(document).ready(function() {
				
				$("#leave-practice-yes").click(function(event) {
					
					event.preventDefault();
					
					/* If user clicked on logo during the practice, redirect to home page */
					if(localStorage.getItem("leavePracticeToHome")) {
						localStorage.clear();
						window.location = window.location.href.split("?")[0];
					/* If user clicked on "Back to practice" during the practice, redirect to Practice Lingua page */
					} else {
						var url = $(this).attr("href");
						localStorage.setItem("practicePage", url);
						window.location = window.location.href.split("?")[0];
					}
					
				});
				
			});
		</script>
	</div>

</body>
</html>