<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>

	<!-- @author Bojan Aleksic -->

	<div class="test" th:fragment="moderate-users">
		<div class="row">
			<div class="col-md-4 search-user-wrapper">
				<form th:action="@{/user-search}" method="GET">
					<div class="form-group">
						<input type="text" name="searchQuery" class="form-control" placeholder="Search..." />
					</div>
					<div class="checkbox" style="position: relative; bottom: 10px;">
						<label class="checkbox-inline">
							<input type="checkbox" th:value="username" name="username" />
							Username
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" th:value="firstName" name="firstName" />
							First name
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" th:value="lastName" name="lastName" />
							Last name
						</label>
					</div>
					<div class="form-group">
						<select class="form-control" name="selectedBan">
							<option selected="selected" disabled="disabled" style="font-style: italic;">Show...</option>
							<option th:value="allUsers">All users</option>
							<option th:value="bannedVoting">Banned - Voting</option>
							<option th:value="bannedAdding">Banned - Adding</option>
							<option th:value="bannedLogin">Banned - Login</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary btn-block"
						style="margin-top: 100px;">
						<span class="glyphicon glyphicon-search"></span> Search
					</button>
				</form>
			</div>
			<div class="col-md-7 search-user-wrapper">
				<div class="col-md-12 user-container">
					<div class="" style="float: left;">
						<img src="images/user-icon.png" />
					</div>
					<div class="row">
						<div class="col-md-6">
							<span style="font-size: 120%;">John Smith</span>
						</div>
						<div class="col-md-4 votes-group">
							<span style="font-size: 110%; color: green;" class="glyphicon glyphicon-thumbs-up"></span>
							<span style="font-size: 110%;">35</span> &nbsp;
							<span style="font-size: 110%; color: red;" class="glyphicon glyphicon-thumbs-down"></span>
							<span style="font-size: 110%;">12</span>
						</div>
						<div class="col-md-10">
							<p>johnny</p>
						</div>
						<div class="col-md-10 ban-icons-group">
							<span class="glyphicon glyphicon-plus-sign ban-icons"></span>
							&nbsp; &nbsp; 
							<span class="glyphicon glyphicon-log-in ban-icons"></span>
							&nbsp; &nbsp; 
							<span class="glyphicon glyphicon-thumbs-up ban-icons"></span>
						</div>
					</div>
				</div>
			</div>
			<a th:href="@{/ban-user-request(id=2)}" data-toggle="modal" data-target="#ban-confirmation-modal">Ban user</a>
		</div>
	</div>

</body>
</html>