<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>Moderate-users</title>
</head>

<body>

	<!-- @author Bojan Aleksic -->
	<!-- @edit Todorovic Mladen -->

	<div class="test" th:fragment="moderate-users">
		<div class="row">
			<div class="col-md-4 search-user-wrapper">
				<form th:action="@{/user-search}" method="GET">
					<div class="form-group">
						<input type="text" name="username" class="form-control" placeholder="Username" />
					</div>
					<div class="form-group">
						<input type="text" name="firstName" class="form-control" placeholder="First Name" />
					</div>
					<div class="form-group">
						<input type="text" name="lastName" class="form-control" placeholder="Last Name" />
					</div>
					<div class="form-group">
						<select class="form-control" name="selectedBan">
							<option selected="selected" disabled="disabled" style="font-style: italic;">Show...</option>
							<option th:value="allUsers">All users</option>
							<option th:value="bannedVoting">Banned - Voting</option>
							<option th:value="bannedAdding">Banned - Adding</option>
							<option th:value="bannedLogin">Banned - Login</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary btn-block"
						style="margin-top: 100px;">
						<span class="glyphicon glyphicon-search"></span> Search
					</button>
				</form>
			</div>
			
			<div th:if="${users eq null or users.isEmpty()}" class="col-md-7 search-user-wrapper-list">
				<div class="col-md-12 user-container">
					<div style="margin-top:30px; margin-bottom: 30px; text-align: center;">
						<span th:text="#{search.no.users}">No users available. Use search to find users.</span>
					</div>
				</div>
			</div>
			
			<div th:if="${users ne null}" class="col-md-7 search-user-wrapper-list">
				<div th:each="user : ${users}">
				<div class="col-md-12 user-container">
					<div class="" style="float: left;">
						<img src="images/user-icon.png" />
					</div>
					<div class="row">
						<div class="col-md-6">
							<span th:text="${user.firstName} + ' ' + ${user.lastName}"></span>
						</div>
						<div class="col-md-4 votes-group">
							<span style="font-size: 110%; color: green;" class="glyphicon glyphicon-thumbs-up"></span>
							<span style="font-size: 110%;">Not impl. yet</span> &nbsp;
							<span style="font-size: 110%; color: red;" class="glyphicon glyphicon-thumbs-down"></span>
							<span style="font-size: 110%;">Not impl. yet</span>
						</div>
						<div class="col-md-10">
							<span th:text="${user.username}"></span>
						</div>
						<div class="col-md-10 ban-icons-group">
							<span th:if="${user.addingBan}">
								<span id="ban-add-new" data-toggle="tooltip" th:attr="title=#{tooltip.new.entry.ban}" class="glyphicon glyphicon-plus-sign ban-icons"></span>
								<span id="ban-add-new-yes" data-toggle="tooltip" th:attr="title=#{tooltip.new.entry.unban}" class="ban-red glyphicon glyphicon-ban-circle"></span>
							</span>
							<span th:unless="${user.addingBan}">
								<span id="ban-add-new" data-toggle="tooltip" th:attr="title=#{tooltip.new.entry.ban}" class="glyphicon glyphicon-plus-sign ban-icons"></span>
								<span id="ban-add-new-yes" data-toggle="tooltip" th:attr="title=#{tooltip.new.entry.unban}" class="ban-red glyphicon glyphicon-ban-circle hide"></span>
							</span>
							&nbsp; &nbsp;
							<span th:unless="${user.enabled}">
								<span id="ban-login" data-toggle="tooltip" th:attr="title=#{tooltip.login.ban}" class="glyphicon glyphicon-log-in ban-icons"></span>
								<span id="ban-login-yes" data-toggle="tooltip" th:attr="title=#{tooltip.login.unban}" class="ban-red glyphicon glyphicon-ban-circle"></span>
							</span> 
							<span th:if="${user.enabled}">
								<span id="ban-login" data-toggle="tooltip" th:attr="title=#{tooltip.login.ban}" class="glyphicon glyphicon-log-in ban-icons"></span>
								<span id="ban-login-yes" data-toggle="tooltip" th:attr="title=#{tooltip.login.unban}" class="ban-red glyphicon glyphicon-ban-circle hide"></span>
							</span> 
							&nbsp; &nbsp; 
							<span th:if="${user.votingBan}">
								<span id="ban-vote" data-toggle="tooltip" th:attr="title=#{tooltip.vote.ban}" class="glyphicon glyphicon-thumbs-up ban-icons"></span>
								<span id="ban-vote-yes" data-toggle="tooltip" th:attr="title=#{tooltip.vote.unban}" class="ban-red glyphicon glyphicon-ban-circle"></span>
							</span>
							<span th:unless="${user.votingBan}">
								<span id="ban-vote" data-toggle="tooltip" th:attr="title=#{tooltip.vote.ban}" class="glyphicon glyphicon-thumbs-up ban-icons"></span>
								<span id="ban-vote-yes" data-toggle="tooltip" th:attr="title=#{tooltip.vote.unban}" class="ban-red glyphicon glyphicon-ban-circle hide"></span>
							</span>
						</div>
					</div>
				</div>
				<input id="user-id" type="hidden" th:value="${user.id}" />
				</div>
				<!-- Import fragment for handling bans that contain JavaScript -->
				<div th:replace="fragments/ban-user :: banUser">...</div>
			</div>
			<!-- Kada Mladen zavrsi tiket, ubaciti ovde ID od usera ${user.id} -->
			<a th:href="@{/ban-user-request(id=2)}" data-toggle="modal" data-target="#ban-confirmation-modal">Ban user</a>
		</div>
	</div>
	
</body>
</html>