<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="notifications">
		<!-- *
			 * @author Novislav Sekulic
			 * scripts for showing notifications
			 *
			 * -->
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			    $( document ).ready(function() {
			    	
					if(isParamPresent("error")){
			    		var message = /*[[#{login.error.message}]]*/ 'message'; 
			    		var color = 'danger';
			    		var icon = 'glyphicon glyphicon-warning-sign';
			    		showNotification(message, color, icon);
			        } 
					
					/* Watching if local storage contains specified value to trigger notifications */
					
					if(localStorage.getItem("ticket-edited")) {
						showNotificationTicketEdited();
						localStorage.removeItem("ticket-edited");
					} else if(localStorage.getItem("ticket-deleted")) {
						showNotificationTicketDeleted();
						localStorage.removeItem("ticket-deleted");
					} else if(localStorage.getItem("ticket-added")) {
						showNotificationTicketAdded();
						localStorage.removeItem("ticket-added");
					} else if(localStorage.getItem("logged-out")) {
						showNotificationLoggedOut();					
						localStorage.removeItem("logged-out");
					} else if(localStorage.getItem('local-language-change')) {
						showNotificationLocalLanguageChange();
						localStorage.removeItem('local-language-change')
					} else if(localStorage.getItem('user-register')) {
						showNotificationUserRegister();
						localStorage.removeItem('user-register');
					} else if(localStorage.getItem('admin-register')) {
						showNotificationAdminRegister();
						localStorage.removeItem('admin-register');
					} else if(localStorage.getItem('ticket-disabled')) {
						showNotificationTicketDisabled();
						localStorage.removeItem('ticket-disabled');
					} else if(localStorage.getItem('ticket-enabled')) {
						showNotificationTicketEnabled();
						localStorage.removeItem('ticket-enabled');
					} else if(localStorage.getItem('user-ban-status-change')) {
						showMessageUserBanStatusChange();
						localStorage.removeItem('user-ban-status-change');
					}
					
				}); // end ready

				var iconOk = 'glyphicon glyphicon-ok';
			    var iconWarning = 'glyphicon glyphicon-warning-sign';
			    var colorGreen = 'success';
			    var colorRed = 'danger';
			    var colorYellow = 'warning';
			    var message = "Message of notification";
			    	
			    
				function showNotificationTicketsLanguageChange() {
					message = /*[[#{language.ticket.change}]]*/ 'Language Changed';
					showNotification(message, colorGreen, iconOk);
				}
				
				function showNotificationLoginError() {
					message = /*[[#{login.error.message}]]*/ 'message';
					showNotification(message, colorRed, iconWarning);
				}
				
				function showNotificationLocalLanguageChange() {
					message = /*[[#{language.local.change}]]*/ 'Language cahange';
					showNotification(message, colorGreen, iconOk);
				}
				
				function showNotificationTicketEdited() {
					message = /*[[#{modal.ticket.edited}]]*/ 'Ticket edited!';
					showNotification(message, colorGreen, iconOk);
				}
				
				function showNotificationTicketDeleted() {
					message = /*[[#{confirm.delete.message}]]*/ 'Ticket deleted!';
					showNotification(message, colorRed, iconOk);
				}
				
				function showNotificationTicketAdded() {
					message = /*[[#{modal.ticket.created}]]*/ 'Ticket Created';
					showNotification(message, colorGreen, iconOk);
				}
				
				function showNotificationLoggedOut(){
					message = /*[[#{logout.success.message}]]*/ 'Logout message';
					showNotification(message, colorGreen, iconOk);
				}
				
				function showNotificationUserRegister() {
					message = /*[[#{register.success.message}]]*/ 'Register message';
					showNotification(message, colorGreen, iconOk);
				}
				
				function showNotificationAdminRegister() {
					message = /*[[#{register.success.message.admin}]]*/ 'Admin Created';
					showNotification(message, colorGreen, iconOk);
				}
				
				function showNotificationTicketDisabled() {
					message = /*[[#{modal.ticket.disabled}]]*/ 'Ticket Disabled';
					showNotification(message, colorGreen, iconOk);
				}
				
				function showNotificationTicketEnabled() {
					message = /*[[#{modal.ticket.enabled}]]*/ 'Ticket Enabled';
					showNotification(message, colorGreen, iconOk);
				}
				
				/* notifications for selection practice if tickets not available */
				
				function showNotificationNoTicketAvailable() {
					message = /*[[#{no.tickets.for.practice}]]*/ "No tickets for specified language available.";
					showNotification(message, colorRed, iconWarning);
				}
				
				function showNotificationNoTicketAvailableForThisLanguage() {
					message = /*[[#{no.tickets.for.practice.this}]]*/ "No tickets for specified category in this language available";
					showNotification(message, colorRed, iconWarning);
				}
				
				/* notifications for slider speed*/
				
				function showNotificationSliderSpeedOne() {
					message = /*[[#{slider.speed.message.one}]]*/ "Slider speed changed to 5 seconds.";
					showNotification(message, colorGreen, iconOk);
				}
				
				function showNotificationSliderSpeedTwo() {
					message = /*[[#{slider.speed.message.two}]]*/ "Slider speed changed to 10 seconds.";
					showNotification(message, colorGreen, iconOk);
				}
				
				function showNotificationSliderSpeedThree() {
					message = /*[[#{slider.speed.message.three}]]*/ "Slider speed changed to 15 seconds.";
					showNotification(message, colorGreen, iconOk);
				}
				
				/* notifications for ban user */
				/********* by goran ***********/
				function showNotificationAddNewBan() {
					message = /*[[#{notification.add.new.entry.ban}]]*/"notification";
					showNotification(message, colorRed, iconWarning);
				}
				
				function showMessageUserBanStatusChange() {
					message = /*[[#{notification.user.bans}]]*/ "User ban status changed";
					showNotification(message, colorGreen, iconOk);
				}
				
				function showMessageDownloadReport() {
					setTimeout(function() {
						message = /*[[#{report.downloaded}]]*/ 'Report successfully downloaded.';
    					showNotification(message, colorGreen, iconOk);
					}, 2000);
				}
				
				/**
				 * Function for showing notification. This function is called form others functions.
				 *
				 * @param messageText - is messages text body for notification
				 * @param typeColor - color of notification background
				 * @param icon - icon of notification
				 **/
			    	
				function showNotification(messageText, typeColor, icon) {
					$.notify({
		    			// options
		    			icon: icon,
		    			message: messageText,
		    			target: '_blank'
		    		},{
		    			// settings
		    			element: 'body',
		    			type: typeColor,
		    			allow_dismiss: true,
		    			newest_on_top: true,
		    			placement: {
		    				from: "top",
		    				align: "center"
		    			},
		    			offset: 20,
		    			spacing: 10,
		    			z_index: 1000000,
		    			delay: 3000,
		    			timer: 1000,
		    			animate: {
		    				enter: 'animated fadeInDown',
		    				exit: 'animated fadeOutUp'
		    			}
		    		}); // end notify
				} // end showNotification

				/**
				 * Function for detecting specified URL parameter is
				 * present, not his value.
				 * 
				 * @param urlPara - parameter name
				 * @return - true or false if parameter is on URL path
				 **/
			    function isParamPresent(urlParam) {
				    var urlVariables = window.location.search;
			        return urlVariables.indexOf("?" + urlParam) >= 0;
			    }
			/*]]>*/
		</script>

	</div>
</body>
</html>