<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	
	<!-- @author Goran Arsenic -->

	<!-- Practice Lingua fragment -->
	<div id="practice-form" th:fragment="practice-lingua">
		<h4 style="text-align: center; background-color: #1898b0; padding: 10px; color: white;" th:text="#{practice.title}">
			Practice Lingua
		</h4>
		<br />
		<div class="form-option">
			<div class="form-option-text">
				<span th:text="#{practice.language}">Practice language:</span>
			</div>
			<div class="btn-group option-select-group">
				<!-- select language -->
				<div class="btn-group add-lingua" role="group">
					<button type="button" class="btn btn-primary dropdown-toggle"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="glyphicon glyphicon-flag btn-glyphicons"
							aria-hidden="true"> </span> <span
							th:if="${session.foreignLanguage eq null}"
							th:text="#{tab.choose.language}"
							class="tab-btn-group select-practice-lang">Select Language</span>
						<span th:if="${session.foreignLanguage ne null}"
							th:text="${session.foreignLanguage}"
							class="tab-btn-group select-practice-lang"> </span> <span
							class="caret"></span>
					</button>
					<ul class="dropdown-menu lingua-language select-language">
						<li th:each="language : ${session.languages}"><a id="selected-lang"
							href="#" th:text="${language}">Language</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="form-option">
			<div class="form-option-text">
				<span th:text="#{practice.practice.type}">Practice type:</span>
			</div>
			<div class="btn-group option-select-group">
				<button type="button" id="overview-button"
					class="btn btn-primary option-select-button active"
					th:text="#{practice.button.overview}">Overview</button>
				<button type="button" id="flipcard-button"
					class="btn btn-primary option-select-button"
					th:text="#{practice.button.flipcard}">Flipcard</button>
			</div>
		</div>
		<div class="form-option">
			<div class="form-option-text">
				<span th:text="#{practice.from}">From:</span>
			</div>
			<div class="btn-group option-select-group">
				<button type="button" id="me-button"
					class="btn btn-primary option-select-button active"
					th:text="#{practice.button.me}">Me
				</button>
				<button type="button" id="everyone-button"
					class="btn btn-primary option-select-button"
					th:text="#{practice.button.everyone}">Everyone</button>
			</div>
		</div>
		<div class="form-option">
			<div class="form-option-text">
				<span th:text="#{practice.type.of.lingua}">Type of Lingua:</span>
			</div>
			<div class="btn-group option-select-group" role="group">
				<button style="width: 120px;" type="button" class="btn btn-primary dropdown-toggle"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span th:text="#{modal.categories}" class="tab-btn-group category">Categories</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu select-category">
					<li><a id="all" th:text="#{tab.all}" href="#">All</a></li>
					<li><a id="verbs" th:text="#{modal.categories.verbs}" href="#">Verbs</a></li>
					<li><a id="sentences" th:text="#{modal.categories.sentences}"
						href="#">Sentences</a></li>
					<li><a id="nouns" th:text="#{modal.categories.nouns}" href="#">Nouns</a></li>
					<li><a id="pronouns" th:text="#{modal.categories.pronouns}"
						href="#">Pronouns</a></li>
					<li><a id="adjectives"
						th:text="#{modal.categories.adjectives}" href="#">Adjectives</a></li>
					<li><a id="prepositions"
						th:text="#{modal.categories.prepositions}" href="#">Prepositions</a></li>
					<li><a id="adverbs" th:text="#{modal.categories.adverbs}"
						href="#">Adverbs</a></li>
					<li><a id="articles" th:text="#{modal.categories.articles}"
						href="#">Articles</a></li>
					<li><a id="interjections"
						th:text="#{modal.categories.interjections}" href="#">Interjections</a></li>
				</ul>
			</div>
		</div>
		<div id="speed" class="form-option">
			<div class="form-option-text">
				<span th:text="#{practice.speed}">Speed:</span>
			</div>
			<div id="speed-slider">
				<input id="slider" type="text" name="speed" data-provide="slider"
					data-slider-ticks="[1, 2, 3]"
					data-slider-ticks-labels='["5s", "10s", "15s"]' data-slider-min="1"
					data-slider-max="3" data-slider-step="1" data-slider-value="3"
					data-slider-tooltip="hide" />

			</div>
			<div style="width: 230px; float: right;">
				<div style="width: 100px; display: inline-block">
					<small><em>5s</em></small>
				</div>
				<div style="width: 98px; display: inline-block">
					<small><em>10s</em></small>
				</div>
				<div style="display: inline-block">
					<small><em>15s</em></small>
				</div>
			</div>
		</div>
		<div id="order" class="form-option hide">
			<div class="form-option-text">
				<span th:text="#{practice.order}">Lingua order:</span>
			</div>
			<div class="btn-group option-select-group">
				<button type="button" id="domestic-button"
					class="btn btn-primary option-select-button active"
					th:text="#{practice.button.domestic}">Domestic</button>
				<button type="button" id="foreign-button"
					class="btn btn-primary option-select-button"
					th:text="#{practice.button.foreign}">Foreign</button>
			</div>
		</div>

		<input id="input-from" type="text" name="from" hidden="hidden" /> <input
			id="input-category" type="text" name="category" hidden="hidden" /> <input
			id="input-order" type="text" name="order" hidden="hidden" />
		<div style="text-align: center">
			<button type="submit" class="btn btn-primary"
				id="start-practice-submit">
				<span style="padding-right: 5px"
					class="glyphicon glyphicon-circle-arrow-right"></span><span
					th:text="#{practice.button.start}"> Start practice</span>
			</button>
		</div>
	</div>

</body>
</html>