/* @author Bojan Aleksic */

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	background-color: #f9f9f9;
}

#my-lingua {
	
}

.tickets-content {
	overflow: scroll;
	max-height: 620px;
	overflow-x: hidden;
	background-color: #f1f1f1;
	margin-bottom: 50px;
}

.lingua-container-body {
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	position: relative; 
	bottom: 0px;
	background-color: #f9f9f9;
	margin-bottom: 50px;
	padding-bottom: 50px;
}

.tab-content {
	padding: 30px 50px 0px 50px;
	background-color: #f9f9f9;
}

.btn-group {
	
}

.btn-glyphicons {
	padding-right: 5px;
}

.add-lingua {
	float: right;
	background-color: #1898b0;
}

.btn-primary {
    background-color: #1898b0;
}

.tab-btn-group {
	position: relative;
    right: 4px;
}

.my-lingua-content {
	padding-top: 30px;
	padding-bottom: 0px;
}

.tickets-wrapper {
	position: relative;
	top: -30px;
	padding-left: 50px;
	padding-right: 50px;
}

.no-tickets-wrapper {
	background-color: #f1f1f1;
	padding-bottom: 50px;
    padding-left: 50px;
    padding-top: 20px
}

#preloader {
	left: 50%;
	top: 50%;
	position: fixed;
	z-index: 9999;
}

.lingua-language {
	background-color: #1898b0;
}

.lingua-language > li > a {
    color: white;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover {
	background-color: #13879b;
	color: white;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    	color: white;
	}
}

.ticket-container {
	border: 1px solid #d1d1d1;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 30px;
	/* Ticket's BG, switched by Bootstrap's alert styles */
/* 	background-color: #f2f2f2; */
	border-radius: 10px;
	margin-top: 30px;
}

.ticket-header {
	border-bottom: 1px dashed #8a6d3b;
	padding-bottom: 8px;
	font-size: 14px;
}

.fade-out-on-create {
	background-color: #99e895;
}

@media (min-width: 992px) {
	.col-md-2 {
    	width: 15%;
	}
}

#date-created {
	position: relative;
	left: 5px;
}

.category-ticket {
	position: relative;
	left: 5px;
}

.domestic-foreign-row {
	padding-top: 40px;
	padding-bottom: 20px;
}

.domestic-foreign-text {
/* 	color: #1898b0; */
	color: #6f6f6f;
	text-align: center;
	font-size: 25px;
	font-family: 'Patrick Hand', cursive;
	border-bottom: 1px dashed inherit;
}

.ticket-edit {
	color: inherit;
}

.ticket-delete {
	color: inherit;
}

.like-dislike-btn {
	float:right; 
	text-align: right;
}

.glyphicon-thumbs-up {
	color: green;
	padding-right: 3px;
}

.like-vote-value {
	padding-right: 10px;
}

.glyphicon-thumbs-down {
	color: red;
	padding-right: 3px;
}

.search-user-wrapper {
    margin-left: 30px;
    padding: 30px;
    background-color: #f1f1f1;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.search-user-wrapper-list {
    margin-left: 30px;
    padding: 30px;
    background-color: #f1f1f1;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.user-container {
	border: 1px solid #dddddd;
	background-color: white;
	padding: 15px;
}

.votes-group {
	text-align: right;
}

.ban-icons-group {
	text-align: right;
}

.ban-icons {
	color: #1898b0;
	font-size: 20px;
}

.ban-icons-red {
/* 	color: #d9534f; */
	color: #d2d2d2;
	font-size: 20px;
}

.ban-red {
    color: red;
    z-index: 10;
    position: absolute;
    margin-left: -32px;
    margin-top: -8px;
    font-size: 36px;
}
