/********* Header *********/

.jumbotron {
	padding-top: 30px;
	padding-bottom: 30px;
}

.login-header {
	float: right;
}

.login-header input {
	position: relative;
	height: 32px;
	top: 5px;
	padding-left: 10px;
}

.login-header a {
	position: relative;
	float: right;
	top: 10px;
	right: 73px;
    color: #1898b0;
}

.btn-info {
/*  background-image: url('images/login-icon.png'); */
    background-repeat: no-repeat;
    background-position: 5px 8px;
    width: 65px; 
    height: 30px; 
    padding: 0px 3px;
}
