<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/my-lingua-styles.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<title>Administrator</title>
</head>
<body>
	<!-- Include header from fragments -->
	<div th:replace="fragments/header :: header">...</div>
	
	<!-- JavaScript for changing languages -->
	<script type="text/javascript" th:src="@{/js/language-btn.js}"></script>
	
	<!-- Body of the Lingua -->
	<div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#moderate-user">Moderate Users</a></li>
            <li><a data-toggle="tab" href="#moderate-lingua">Moderate Lingua</a></li>
            <li><a data-toggle="tab" href="#moderate-language">Moderate Languages</a></li>
            <li><a data-toggle="tab" href="#reports">Reports</a></li>
        </ul>
        <div class="lingua-container-body">
        		<div id="moderate-user" class="tab-pane fade in active">
                    <h3>Moderate Users</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
                <div id="moderate-lingua" class="tab-pane fade">
                    <h3>Moderate Lingua</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            	<div id="moderate-language" class="tab-pane fade">
                    <h3>Moderate Languages</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
                <div id="reports" class="tab-pane fade">
                    <h3>Reports</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
        </div>
    </div>
</body>
</html>