<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="_csrf" content="${_csrf.token}" />
<meta name="_csrf_header" content="${_csrf.headerName}" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/my-lingua-styles.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/practice-styles.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/admin-styles.css}" />
<link href='https://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<!-- jQuery Script for easing in-and-out animation -->
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.5/bootstrap-notify.min.js"></script>
<!-- slider js and css -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/css/bootstrap-slider.min.css"/>
<title>Lingua</title>
</head>
<body>

	<!-- @author Bojan Aleksic -->
	
	<!-- Include notification fragment -->
	<div th:replace="fragments/notifications :: notifications">Notification fragment</div>

	<!-- Include header from fragments -->
	<div th:replace="fragments/header :: header">...</div>

	<div sec:authorize="isAuthenticated()">
		<!-- Include Account fragment by authority (User account or Admin account) -->
		<div th:replace="fragments/account-page :: (${authority} == '[ADMIN]' ? admin-account : user-account)"></div>
	</div>

	<div sec:authorize="isAnonymous()">
		<!-- Bootstrap Carousel fragment -->
		<div th:replace="fragments/carousel :: bootstrap-carousel"></div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
		
</body>
</html>