<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Registration</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<style type="text/css">
		.error {
			color: red;
		}
	</style>
	
</head>
<body>
	<div class="container">
		<div class="row">
			<form action="#" th:action="@{/registration-form}" th:object="${user}" method="post">
				<table>
					<tr>
						<td th:text="#{form.field.name}">First Name: </td>
						<td><input type="text" th:field="*{firstName}" /></td>
						<th th:if="${#fields.hasErrors('firstName')}" th:text="#{form.invalid.name}" class="error">FirstName error message</th>
					</tr>
					<tr>
						<td th:text="#{form.field.lastname}">Last Name: </td>
						<td><input type="text" th:field="*{lastName}" /></td>
						<th th:if="${#fields.hasErrors('lastName')}" th:text="#{form.invalid.lastname}" class="error">FirstName error message</th>
					
					</tr>
					<tr>
						<td th:text="#{form.field.username}">Username: </td>
						<td><input type="text" th:field="*{username}" /></td>
						<th th:if="${#fields.hasErrors('username')}" th:text="#{form.invalid.username}" class="error">FirstName error message</th>
					</tr>
					<tr>
						<td th:text="#{form.field.password}">Password: </td>
						<td><input type="password" th:field="*{password}" /></td>
						<th th:if="${#fields.hasErrors('password')}" th:text="#{form.invalid.password}" class="error">FirstName error message</th>
					</tr>					
					<tr>
						<td th:text="#{form.field.passwordre}">Password: </td>
						<td><input type="password" th:field="*{passwordTransient}" /></td>
						<th th:if="${#fields.hasErrors('passwordMatch')}" th:text="#{form.invalid.password.match}" class="error">FirstName error message</th>
					</tr>					
					<tr>
						<td th:text="#{form.field.email}">Email: </td>
						<td><input type="text" th:field="*{email}" /></td>
						<th th:if="${#fields.hasErrors('email')}" th:text="#{form.invalid.email}" class="error">FirstName error message</th>
					</tr>
				</table>
				<button type="submit" th:text="#{form.field.button.register}"></button>
			</form>
			<p th:text="#{lang}">Test</p>
		</div>
	</div>
</body>
</html>