<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="_csrf" content="${_csrf.token}" />
<meta name="_csrf_header" content="${_csrf.headerName}" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/my-lingua-styles.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}" />
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.5/bootstrap-notify.min.js"></script>
<title>TEST</title>
</head>
<body>
	
	<h3>add like to tickets TEST</h3>
	<form action="/add-dislike" method="get">
		<input type="text" name="ticketId" />
		<input type="text" name="username" />
		<input type="submit" value="TESTIRAJ" />
	</form>
	<div>
		<label th:if="${messageErrorUserVote}" th:text="#{message.error.user.vote}" class="error"></label>
		<label th:if="${messageErrorUserVote2}" th:text="#{message.error.user.vote2}" class="error"></label>
	</div>
</body>
</html>