<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<style>
        p {
            font-family: 'Dosis', sans-serif;
            font-size: 12pt;
        }
    </style>
<title>Users</title>
</head>
<body>

	<div style="margin: 0 auto; width: 400px; float: left; border: 1px solid grey; padding: 20px;">
		<div style="float: left;">
			<a href="user-account.html" 
			   th:each="user : ${users}"
			   th:text="${user.username}"
			   th:href="@{/user-account(id=${user.id})}">
			</a>
		</div>
	</div>

</body>
</html>